.title{
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 50px;
}

.title::before{
    content:"";
    position: absolute;
    left: 50%;
    top:80px;
    width: 500px;
    height: 3px;
    background-color: black;
    transform: translateX(-50%);
}

.title::after{
    content:"FUNGSIONALITAS CRUD";
    position: absolute;
    left: 50%;
    font-size: 20px;
    top:65px;
    color: #cc3208;
    padding: 3px;
    background-color: #fff;
    transform: translateX(-50%);
}

.subtitle{
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 5px;
}

.card
{
    margin-top: 80px;
}

.card-header{
    background-color:#cc3208;
    color: white;
    text-align: center;
    font-size: 18px;
}

.tombol{
    margin-top: 20px;
}